html,
body,
* {
    box-sizing: border-box;
}

body {
    background: #fafafa;
    color: #666;
    font-size: 14px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    color: #f07677;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
    max-height: 100%;
    max-width: 100%;
}

body > .title {
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

a {
    color: rgb(240, 118, 119);
}

.no-decoration {
    text-decoration: none;
}

.cover-image {
    margin: auto;
    text-align: center;
}

.we-are-marrying {
    text-align: center;
}

.we-are-marrying h2 {
    font-size: 36px;
    font-weight: 100;
}

.we-are-marrying p {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 2em;
}

.wishlist ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
}

.wishlist .loading {
    font-size: 4em;
    text-align: center;
    padding: 1em;
}

.wishlist .wish {
    display: flex;
    margin: auto;
    cursor: pointer;
    padding: 1em 0em;
}

.wishlist .wish .image {
    flex: 2;
    margin-left: auto;
    text-align: right;
}

.wishlist .wish .details {
    flex: 3;
}

.wishlist .see-all-wishes {
    font-size: 2em;
    text-align: center;

    width: 100%;
    display: inline-block;
    padding-bottom: 1em;
    color: #f07677;
}

.site-content {
    background: #f1f1f1;
    padding: 3em 3em;
    margin: auto;
    text-align: center;
}


@media (min-width: 901px) and (max-width: 1250px) {
    .boxes {
        -moz-column-count: 2;
        -moz-columns: 2;
        -webkit-columns:2;
        columns: 2;

    }
}

@media (min-width: 1251px) {
    .boxes {
        display: flex;
        justify-content: space-around;
    }
}

.box {
    background: white;
    height: 100%;
    max-width: 20em;
    min-width: 20em;
    text-align: left;
}

.box a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 900px) {
    .box {
        margin: 4em auto;
    }
}

@media (min-width: 901px) {
    .box {
        display: inline-block;
        margin: 1em;
    }
}

/*
.boxes .box.wishlist {
    max-width: 30em;
    min-width: 30em;
}
*/

.boxes {
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

.boxes .box {
    text-align: left;
}

.box .header {
    background: rgb(240, 118, 119);
}

.box .header h2 {
    color: white;
    padding: 1em 1.5em;
    font-weight: normal;
    margin: 0;
}

.box .content {
    max-height: 800px;
    overflow: auto;
    padding: 1em;
}

.box .iconlist-icon {
    vertical-align: top;
}

.box .text {
    display: inline-block;
    padding-left: 0.2em;
}

.box .text p {
    margin: 0;
}

.box .les-mer-lenke {
    display: inline-block;
    margin-left: auto;
    float: right;
    padding: 0.5em 1em;
    background: #f07677;
    color: white;
}

.box .onske {
    max-width: 100%;
}

.onske.tilbords {
    background: #000000;
    padding: 0.5em;
}

.counter {
    height: 3em;
    font-size: 2em;
}

.days-until {
    text-align: center;
    padding: 3em;
}

.days-until h2 {
    color: #666;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
}

.days-until .days,
.days-until .hours,
.days-until .minutes,
.days-until .seconds {
    display: inline-block;
    padding: 1em;
    position: relative;
    width: 8em;
}

.days-until p {
    margin: 0;
}

.days-until .heart {
    font-size: 3.5em;
    position: absolute;
    top: 0%;
    left: 29%;
    color: rgb(240, 118, 119);
}

.iconlist {
    list-style: none;
    margin: 0em 1em 0em 0em;
}

.iconlist-icon {
    margin-left: -1.5em;
    width: 1.5em;
    text-align: center;
    color: rgb(240, 118, 119);
}

.iconlist li:first-child {
    border-top: 0px;
}

.iconlist li {
    border-top: 1px solid #ccc;
    padding: 0.8em 0em;
}
