{% extends "./layout.html" %}

{% block content %}
<section class="boxes">
    <section class="place box">
        <header class="header">
            <h2>Sermoni</h2>
        </header>
        <section class="content">
            <ul class="iconlist">
                <li>
                    <span class="iconlist-icon fa fa-map-marker"></span>
                    <div class="text">
                        <p class="sted">Hoeggen Kirke,</p>
                        <p class="adresse">Nordre Risvolltun 2,</p>
                        <p class="postinfo">7036 Trondheim</p>
                    </div>
                </li>
                <li>
                    <span class="iconlist-icon fa fa-calendar"></span>
                    <div class="text">13. august 2016</div>
                </li>
                <li>
                    <span class="iconlist-icon fa fa-clock-o"></span>
                    <div class="text">15:00 - 16:15</div>
                </li>
            </ul>
            <!-- <a class="les-mer-lenke" href="/sermoni">Les mer</a>-->
        </section>
    </section>

    <section class="party box">
        <header class="header">
            <h2>Fest</h2>
        </header>
        <section class="content">
            <ul class="iconlist">
                <li>
                    <span class="iconlist-icon fa fa-map-marker"></span>
                    <div class="text">
                        <p>Sted kommer</p>
                    </div>
                </li>
                <li>
                    <span class="iconlist-icon fa fa-calendar"></span>
                    <div class="text">13. august 2016</div>
                </li>
                <li>
                    <span class="iconlist-icon fa fa-cutlery"></span>
                    <div class="text">Middag: 17:00 - kommer</div>
                </li>

                <li>
                    <span class="iconlist-icon fa fa-glass"></span>
                    <div class="text">Fest: kommer - <i class="fa fa-moon-o"></i></div>
                </li>
            </ul>
            <!-- <a class="les-mer-lenke" href="/fest">Les mer</a> -->
        </section>
    </section>

    <section class="wishlist box">
        <header class="header">
            <h2>Ønskelister</h2>
        </header>


        <section class="content" id="wishlist">
            <section id="wishlist">
                <ul>
                    <li>
                        <a href="http://www.tilbords.no/weddinglist/public/view/id/1925a3e5886e4cd154fc7ebe465ae46f/" target="_blank">
                            <img class="onske tilbords" src="image/tilbords.png" />
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </section>

</section>
{% endblock %}

{% block javascript %}
<!--<script type="text/javascript" src="pages/index.js"></script>-->
{% endblock %}
