<!doctype html>

<html lang="no">
<head>
	<meta charset="utf-8">

	<title>Bryllupet til Elisabeth og Trond</title>
	<meta name="description" content="Informasjon om Elisabeth Solheim og Trond Klakkens bryllup" />
	<meta name="author" content="Trond Klakken" />

    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" href="image/wedding_rings_icon.png">
    <link rel="apple-touch-icon-precomposed" href="image/wedding_rings_icon.png">
	<meta name="viewport" content="width=device-width; initial-scale=1.0;" />

	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link async href='https://fonts.googleapis.com/css?family=Roboto:100,100italic,200italic,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
	<!--<h1 class="title"><a class="no-decoration" href="/">Elisabeth og Tronds bryllup</a></h1>-->
	<a href="/" class="home">
		<img class="rings" src="/image/wedding_rings_icon.png" />
		<h1 class="title">Vi gifter oss!</h1>
	</a>

	<section class="cover-image">
    	<!--<img src="https://elisabethogtrond-3291.restdb.io/media/<bildeIdHer>/?s=w" />-->
		<img src="/image/vevang.jpg" />
    </section>

<!--
	<nav class="nav">
		<ul>
			<li><a href="/sermoni">Sermonien</a></li>
			<li><a href="/fest">Middag</a></li>
			<li><a href="/fest">Fest</a></li>
			<li><a href="/onskeliste">Ønskelister</a></li>
		</ul>
	</nav>
-->

	<main class="main">

		{% block precontent %}
		{% endblock %}

        <section class="site-content">
            {% block content %}{% endblock %}
        </section>
	</main>

	<footer class="footer">
            {% block footer %}{% endblock %}
    </footer>

	<script type="text/javascript" src="app.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
