{% extends "./layout.html" %}

{% block content %}
<section class="wishlist">
    <header class="header">
        <h2>Ønskeliste</h2>
    </header>
    <section id="wishlist">
        <p>Vi har laget flere ønskelister for forskjellige butikker. Utenom kjøkkenutstyr og servise ønsker vi oss penger til oppussing og bryllupsreise :)</p>

        <ul>
            <li>
                <h3>Penger</h3>
                <p>De som ønsker å gi en pengegave kan benytte seg av kontonummeret: <i>4212.16.10471</i></p>
            </li>
            <li>
                <h3>Kitchn</h3>
                <a href="https://www.kitchn.no/bryllup/vis-liste/?WishListId=76145" target="_blank">
                    <img class="onske" src="image/kitchn.jpg" />
                </a>
            </li>
            <li>
                <h3>Christiana Glassmagasin</h3>
                <a href="http://www.bryllupslisten.no/weddinglist/index/shared/weddinglist_id/4709" target="_blank">
                    <img class="onske" src="image/bryllupslisten.jpg" />
                </a>
            </li>
            <li>
                <h3>Tilbords</h3>
                <a href="http://www.tilbords.no/weddinglist/public/view/id/1925a3e5886e4cd154fc7ebe465ae46f/" target="_blank">
                    <img class="onske tilbords" src="image/tilbords.png" />
                </a>
            </li>
        </ul>
    </section>
</section>
{% endblock %}

{% block javascript %}
<!--<script type="text/javascript" src="pages/wishlist.js"></script>-->
{% endblock %}
